variables:
  HEROKU_REGISTRY_PREFIX: "registry.heroku.com"

stages:
  - build
  - deploy-beta
  - deploy-prod
  
build:
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker pull $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest || true
    - docker build --pull --cache-from $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest --build-arg AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID --build-arg AWS_SECRET_ACCESS_KEY_ID=$AWS_SECRET_ACCESS_KEY_ID --tag $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHA --tag $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest .
    - docker push $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest

deploy-beta:
  image: docker:latest
  stage: deploy-beta
  services:
    - docker:dind
  script:
    - HEROKU_STAGE_APP_NAME=$HEROKU_APP_NAME_BETA
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest || true
    - docker login -username=$HEROKU_USERNAME --password=$HEROKU_TOKEN $HEROKU_REGISTRY_PREFIX
    - docker tag $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest $HEROKU_REGISTRY_PREFIX/$HEROKU_STAGE_APP_NAME:latest
    - docker push $HEROKU_REGISTRY_PREFIX/$HEROKU_STAGE_APP_NAME:latest
    - apk add --no-cache curl
    - IMAGE_ID=$(docker inspect ${HEROKU_REGISTRY_PREFIX}/${HEROKU_STAGE_APP_NAME}:latest --format={{.Id}})
    - |-
      curl -X PATCH https://api.heroku.com/apps/$HEROKU_STAGE_APP_NAME/formation --header "Content-Type: application/json" --header "Accept: application/vnd.heroku+json; version=3.docker-releases" --header "Authorization: Bearer ${HEROKU_TOKEN}" --data '{ "updates": [ { "type": "web", "docker_image": "'${IMAGE_ID}'" } ] }'
  only:
    - master
    
deploy-prod:
  image: docker:latest
  stage: deploy-prod
  services:
    - docker:dind
  script:
    - HEROKU_STAGE_APP_NAME=$HEROKU_APP_NAME_PROD
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest || true
    - docker login -username=$HEROKU_USERNAME --password=$HEROKU_TOKEN $HEROKU_REGISTRY_PREFIX
    - docker tag $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest $HEROKU_REGISTRY_PREFIX/$HEROKU_STAGE_APP_NAME:latest
    - docker push $HEROKU_REGISTRY_PREFIX/$HEROKU_STAGE_APP_NAME:latest
    - apk add --no-cache curl
    - IMAGE_ID=$(docker inspect ${HEROKU_REGISTRY_PREFIX}/${HEROKU_STAGE_APP_NAME}:latest --format={{.Id}})
    - |-
      curl -X PATCH https://api.heroku.com/apps/$HEROKU_STAGE_APP_NAME/formation --header "Content-Type: application/json" --header "Accept: application/vnd.heroku+json; version=3.docker-releases" --header "Authorization: Bearer ${HEROKU_TOKEN}" --data '{ "updates": [ { "type": "web", "docker_image": "'${IMAGE_ID}'" } ] }'
  only:
    - master