version: '3'

services:
    api:
        build:
            context: .
            dockerfile: Dockerfile
            args: []
        environment:
            - PORT=5000
        ports:
            - 5000:5000



